*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul,ol{list-style: none;}
a{
  text-decoration: none;
  color: inherit;
}
h1,h2,h3,h4,h5,h6{
  font-weight: normal;
}
h1 {
  border: 1px solid #d4d6d8;
  border-width: 0 0 1.5px 0;
  margin-bottom: 20px;
  padding-bottom: 10px;
}